NODE_ENV=development
PORT=4000
MONGODB_URI=mongodb://user:password@localhost:27017/mun_gridixia
JWT_ACCESS_SECRET=13fd73cf40663b4db6379256eb13a1e0a093b13da6ec902d3d400d5d5e4fd6a9
JWT_REFRESH_SECRET=06122e8d49ddf3d82d25d709664f01ee21c23ff977eca84083ec85e0ac9a3c65
RAZORPAY_KEY_ID=rzp_test_key_id
RAZORPAY_SECRET=rzp_test_secret
RAZORPAY_WEBHOOK_SECRET=rzp_webhook_secret
CLOUDINARY_CLOUD_NAME=cloud_name
CLOUDINARY_API_KEY=cloudinary_api_key
CLOUDINARY_API_SECRET=cloudinary_api_secret
REDIS_URL=redis://localhost:6379
RESEND_API_KEY=re_1234567890
EMAIL_FROM=Gridixia MUN <no-reply@gridixia.org>
SENTRY_DSN=
